body {
  margin:0;
  font-family:'Segoe UI';
  color:white;
  background:#020617;
}

.bg {
  position:fixed;
  width:100%;
  height:100%;
  background: linear-gradient(270deg,#00f5a0,#00d9f5,#8b5cf6);
  background-size:600% 600%;
  animation: gradient 12s ease infinite;
  z-index:-1;
}

@keyframes gradient {
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

header {
  text-align:center;
  padding:60px;
}

.card {
  width:90%;
  max-width:750px;
  margin:30px auto;
  padding:30px;
  border-radius:20px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  transition:0.4s;
}

.profile img {
  width:130px;
  border-radius:50%;
  animation: float 3s infinite;
}

@keyframes float {
  50%{transform:translateY(-10px);}
}

.project-card {
  display:inline-block;
  margin:10px;
  padding:20px;
  border-radius:15px;
  background: rgba(255,255,255,0.1);
  transition:0.4s;
}

.project-card:hover {
  transform: scale(1.1);
  background:#00f5a0;
  color:black;
}

.reveal {
  opacity:0;
  transform:translateY(50px);
  transition:0.6s;
}

.reveal.active {
  opacity:1;
  transform:translateY(0);
}
